<div class="container">
  <div class="row">
    <table>
      <tr>
        <tb style="margin: 50px;">
          <%= link_to image_tag( post.image.variant(resize: '100x100') ), post_path(post.id) %>
        </tb>
        <tb style="margin: 50px;">
          <%= post.genre_i18n %>
        </tb>
        <tb style="margin: 50px;">
          <i class="fa fa-heart unlike-btn"></i>
        </tb>
        <tb style="margin: 50px;">
          <%= post.likes.length %>
        </tb>
        <tb style="margin: 50px;">
          <%= link_to post.name, post_path(post.id) %>
        </tb>
      </tr>
    </table>
  </div>
</div>
