<div class="container">
    <div class="row">
        <table>
            <h3 style="width: 18%;  text-align: center; margin-top: 15px; background: #EEEEEE">いいね一覧</h3>
            <%= render partial: "post", collection: @like_posts %>
        </table>
    </div>
</div>